{% extends 'base.html' %}

{% block content %}
  <h3>Community</h3>
  {% if user.is_authenticated %}
    <a class="btn btn-dark text-white" href="{% url 'community:create' %}">새 글 작성하기</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요]</a>
  {% endif %}

  <hr>

  {% for review in reviews %}
    <p><b>작성자 : <a class="btn btn-dark text-white" href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></b></p>
    <p>영화 제목: {{ review.movie_title }}</p>
    <p>글 제목: {{ review.title }}</p>
    <!-- 좋아요 기능 start -->
    <form class="like_form" data-id='{{ review.pk }}'>
      {% csrf_token %}
      {% if user in review.like_users.all %}
        <button class="btn btn-link">
          <i id="like-{{ review.pk }}" class="fas fa-heart fa-lg" style="color:crimson;"></i>
        </button>
      {% else %}
        <button class="btn btn-link">
          <i id="like-{{ review.pk }}" class="fas fa-heart fa-lg" style="color:black;"></i>
        </button>
      {% endif %}
    </form>
    <p>
    <span id="like-count-{{ review.pk }}">{{ review.like_users.all|length }}</span>명이 이 글을 좋아합니다.
    </p>
    <a class="btn btn-primary" href="{% url 'community:detail' review.pk %}">[살펴보기]</a>
    <hr>
  {% endfor %}
    <!-- 좋아요 기능 end -->


  <!-- 좋아요를 하트모양으로 바꿔줄 JS start -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like_form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach(function (form) {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const reviewId = event.target.dataset.id
  
        axios.post(`http://127.0.0.1:8000/community/${reviewId}/like/`, {},
        {headers: {'X-CSRFToken': csrftoken}
        }).then(function (response) {
          const liked = response.data.liked
          const count = response.data.count

          const likeButton = document.querySelector(`#like-${reviewId}`)
          if (liked) {
            likeButton.style.color = 'crimson'
          } else {
            likeButton.style.color = 'black'
          }
          const likeCount = document.querySelector(`#like-count-${reviewId}`)
          likeCount.innerText = `${count}`
        })
      })
    })
  </script>
  <!-- 좋아요를 하트모양으로 바꿔줄 JS end -->

{% endblock %}

